.itemDetail{
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "title none"
    "img descripcion"
    ;
}

.itemDetail img{
    width: 400px;
    grid-area: img;
}

.itemDetail .detail{
    grid-area: descripcion;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttonAddCart{
    width: 16rem;
    margin: auto;
    text-decoration: none;
    text-align: center;
    height: 25px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #212529;
    background: #212529;
}

.buttonAddCart:hover{
    background: #fff;
    color: #212529
}