
.listCatalogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-auto-rows: minmax(100px, auto);
    margin-top: 10vh;
}
.centred{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 420px){

    .listCatalogo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
    }
}