.itemCard{
    display: flex;
    flex-direction: column;
    background-color: #353a3f;
    width: 250px;
    color: #fff;
    padding: 10px;
    transition: all .7s ease;
    box-shadow: 10px 10px 0px 7px rgba(0,0,0,1);
    -webkit-box-shadow: 8px 6px 0px 2px rgba(0,0,0,1);
    -moz-box-shadow: 8px 6px 0px 2px rgba(0,0,0,1);
    justify-self: center;
    margin-bottom: 10vh;
    border-radius: 5px;
}
.itemCard:hover{
    transform: scale(.993);
}

.itemCard h3{
    font-size: 1.7rem;
}

.itemCard img{
    width: 230px;
    max-height: 170px;
    border-radius: 5px;
    margin: auto;
    background-color: #353a3f;
}

.detailBtn{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
    border: 2px solid #212529;
    background: #212529;
    margin-bottom: 10px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}
.detailBtn:hover{
    background: #fff;
    color: #212529;
}
.detailBtnText{
    margin: 0%;
}
.detailBtnIcon{
    font-size: 1.2rem;
    padding-top: 1px;
}
@media screen and (max-width: 420px){
    .itemCard{
        display: flex;
        flex-direction: column;
        background-color: #353a3f;
        border-radius: 0px;
        color: #fff;
        padding: 10px;
        border: none;
    }
}