.spinnerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.title, .subTitle{
    text-align: center;
}
.subTitle{
    color: #fff;
}
.formBuyer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#495057;
    width: 32rem;
    margin: auto;
    border-radius: 5px;
}
.endShop{
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #212529;
    background: #212529;
    margin-bottom: 20px;
}
.endShop:hover{
    background: #fff;
    color: #212529;
}
.recipt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #495057;
    width: 32rem;
    margin: auto;
    border-radius: 5px;
    padding-bottom: 10px;
}
.centred{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkOut{
    color: #fff;
}
.btnEnd{
    text-decoration: none;
}
@media screen and (max-width: 420px){
    .formBuyer{
        width: 18rem;
    }
    .recipt{
        color: #fff;
        width: 18rem;
    }
}