.nav{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #495057;
    padding: 0px 20px 0px 20px;
    height: 70px;
}
.nav div img{
    width: 50px;
}

.nav ul{
    width: 80%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav ul li a{
    text-decoration: none;

    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #212529;
    background: #212529;
}
.nav ul li a:hover {
    background: #fff;
    color: #212529;
}

.nav ul li a:hover{
    text-shadow: rgb(255, 254, 254) 2px 2px 2px;
}

.nav h2{
    width: 20%;
    font-size: 2rem;
    color: #fff;
}
