.navLinks{
    transition: .5s;
}
.listItemNav{
    position: relative;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);

}

.btnCategory{
    text-align: center;
    width: 110px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #212529;
    background: #212529;
}
.btnCategory:hover{
    background: #fff;
    color: #212529;
}
.listItemNav:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}
.categoryNesting{
    width: 500px;
    display:flex;
    flex-direction: column;
    clip-path: var(--clip);
    position: absolute;
    bottom: -165px;
}
.arrowNav{
    transform: var(--transform);
    margin-left: 5px;
    transition: transform .5s;

}

.nav{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #495057;
    padding: 0px 20px 0px 20px;
    height: 70px;
}
.nav .cardWidget{
    font-size: 1.8rem;
    color: #fff;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #212529;
    background: #212529;
}

.nav .cardWidget:hover{
    background: #fff;
    color: #212529;
}
.cartWidgetContainer{
    text-decoration: none;
    display: flex;
    position: relative;
}
.counterContainer{
    background-color: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 70%;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-weight: 500;
}


.nav ul{
    width: 80%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav ul li a{
    text-align: center;
    width: 110px;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #212529;
    background: #212529;
}
.nav ul li a:hover {
    background: #fff;
    color: #212529;
}

.nav ul li a:hover{
    text-shadow: rgb(255, 254, 254) 2px 2px 2px;
}

.nav h2{
    width: 20%;
    font-size: 2rem;
    color: #fff;
}







@media screen and (max-width: 420px){
    .counterContainer{
        top:60%;
        left:50%;
    }
    .nav{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 5fr ;
        grid-template-areas:
        "title cart"
        "ul ul"
        ;
        height: 200px;
        padding: 10px 0 10px 0;
    }
    .nav h2{
        width: 90%;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        font-size: 2.2rem;
        grid-area: title;
    }
    .nav ul{
        flex-direction: column;
        gap: 10px;
        width: 90%;
        margin: auto;
        grid-area: ul;
    }
    .nav ul li a{
        width: 140px;
    }
    .nav div .cardWidget{
        grid-area: cart;

    }
}