.counter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.counter button{

    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #212529;
    background: #212529;
}

.counter .addCart{
    width: 15rem;
}

.counter button:hover {
    background: #fff;
    color: #212529
}
.counter div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.counter div .plusButton{
    width: 2rem;
}